/* Insert a background image that responsive, also change the font-family of the whole text in the body*/
body {
    background-image: url('../Images/background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* set background color of navbar at the top */
#navbar{
    background-color: rgb(146, 136, 120);
}

/* set text color of navbar text */
#navbar-brand{
    color: rgb(247, 226, 189) ;    
}

/* set hover properties for Logo/Text placed at left side within the navbar. Text will be larger slightly, have text shadow and color change  */
#navbar-brand:hover{
    color: white;
    text-shadow: 2px 2px 4px rgb(105, 95, 78);
    font-size: 1.26rem;
}

/* set hover properties to navbar text  */
.nav-link:hover{
    text-shadow: 1px 1px 2px rgb(105, 95, 78);
    font-size: 1.01rem
}

/* set text style and shadow to indicate the current page/directory */
#active{
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgb(105, 95, 78);    
}

/* remove the border line on card bootstrap item as well as add round corners */
.card{
    border-style: none;
    border-radius: 1rem;
}

/* set text size and weight in paragraph elemnts */
p{
    font-size: 1rem;
    font-weight: 300;
}

/* set text size and color for h1 elemnts */
h1{
    color: rgb(124, 89, 25);
    font-size: 2.5rem;
}

/* set background color and text color in the footer */
.container-fluid div{
    background-color: rgb(146, 136, 120);
    color: rgb(247, 226, 189) ;
}